.testimonial-area {
    position: relative;
    margin-top: 80px;

    img {
        cursor: pointer;
        transition: $primary_transition;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .testimonial-active {
        .quote-traveller {
            width: 70%;
            margin: 0 auto;
            text-align: center;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &#quote1,
            &#quote2,
            &#quote3,
            &#quote4,
            &#quote5,
            &#quote6 {
                position: absolute;
                left: 0;
                right: 0;
                transform: translateY(100px);
                opacity: 0;
                transition: $primary_transition
            }

            .img-traveller {
                width: 90px;
                height: 90px;
                margin-bottom: 20px;
            }

            .traveller-quote {
                font-weight: 600;
                transform: translateY(120px);
            }

            .traveller-name {
                margin: 20px 0 0;
                transform: translateY(120px);
            }

            .traveller-status {
                font-size: 14px;
                color: $grey_color;
                transform: translateY(120px);
            }
        }
    }

    .traveller-1 {
        position: absolute;
        top: -50px;
        left: 20%;

        width: 70px;
        height: 70px;
    }

    .traveller-2 {
        position: absolute;
        top: 50px;
        left: 10%;
        width: 60px;
        height: 60px;

        @media screen and (max-width: 768px) {
            top: 20px;
            width: 50px;
            height: 50px;
        }
    }

    .traveller-3 {
        position: absolute;
        top: 220px;
        left: 10%;
        width: 80px;
        height: 80px;

        @media screen and (max-width: 768px) {
            top: 250px;
            left: 0;
            width: 50px;
            height: 50px;
        }
    }

    .traveller-4 {
        position: absolute;
        top: 10px;
        left: 80%;
        width: 60px;
        height: 60px;
        
        @media screen and (max-width: 768px) {
            width: 50px;
            height: 50px;
        }
    }

    .traveller-5 {
        position: absolute;
        top: -80px;
        left: 94%;
        width: 75px;
        height: 75px;
        
        @media screen and (max-width: 768px) {
            left: 90%;
            width: 50px;
            height: 50px;
        }
    }

    .traveller-6 {
        position: absolute;
        top: 220px;
        left: 90%;
        width: 75px;
        height: 75px;
        
        @media screen and (max-width: 768px) {
            top:  250px;
            left: 80%;
            width: 50px;
            height: 50px;
        }
    }

    .active-traveller {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 46%;

        width: 90px;
        height: 90px;

        @media screen and (max-width: 768px) {
            width: 74px;
            height: 74px;
            left: 45%;
        }
    }

    .active-quote {
        opacity: 1 !important;
        transform: translateY(-10px) !important;
    }
}