$primary_color          : #FC5156;
$secondary_color        : #e9353b;
$black_color            : #28293D;
$grey_color             : #87868D;
$white_color            : #FFFFFF;
$green_color_alt        : #1987541c;
$primary_transition     : all .4s ease;
$primary_border_radius  : 50px;
$secondary_border_radius: 20px;